include ../admin/index
.content-wrapper
    // Content Header (Page header)
    section.content-header
        h1
            |
    // Main content
    section.content
        .row
            .col-xs-12
                // /.box-body
                // /.box
                .box
                    .box-body
                        .callout.callout-success
                            h1 Hallo #{session_store.firstname}
                            p
                             h2   | Selamat Datang Di Optik IT.ID...
